@model IEnumerable<Transcript_Repository.Models.InstructorModel>

@{
    ViewBag.Title = "ViewInstructors";
}

<h2>View Instructors</h2>


<p>
    @Html.ActionLink("Add Instructor", "InstructorRegistration")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstructorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorEmail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
