@model Transcript_Repository.Models.Course

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />

    <div class="dl-horizontal">
        <label>
            @Html.DisplayNameFor(model => model.CourseId)
        </label>

        <span>
            @Html.DisplayFor(model => model.CourseId)
        </span>
        <br />
        <label>
            @Html.DisplayNameFor(model => model.CourseName)
        </label>
        <span>
            @Html.DisplayFor(model => model.CourseName)
        </span>
        <br />
        <label>
            @Html.DisplayNameFor(model => model.CourseQualification)
        </label>
        <span>
            @Html.DisplayFor(model => model.CourseQualification)
        </span>
        <br />
        <label>
            @Html.DisplayNameFor(model => model.CourseResult)
        </label>
        <span>
            @Html.DisplayFor(model => model.CourseResult)
        </span>
        <br />
        <label>
            @Html.DisplayNameFor(model => model.CourseLength)
        </label>
        <span>
            @Html.DisplayFor(model => model.CourseLength)
        </span>
        <br />
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
