@model Transcript_Repository.ViewModels.TranscriptViewModel
@{
    ViewBag.Title = "Edit Transcript";
}
<h2>@ViewBag.Title.</h2>
<hr />
    Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
<hr />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">My Transcripts</div>
            <div class="panel-body">
                <p>You have <span id="TotalNumberTranscripts">You have @Model.Transcripts.Count transcripts availabe</span> transcripts available</p>
            </div>

            <!-- Table -->
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for transcript ID's.........." title="Type in a name">
            <table id="myTable" class="table">
                <tr>
                    <th>Transcript ID</th>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Transcript Date</th>
                    <th>Edit</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>532542</td>
                    <td>Ieaun Roberts</td>
                    <td>10/05/2020</td>
                    <td></td>
                </tr>

                @foreach (var transcript_ in Model.Transcripts)
                {
                    <tr>
                        <td>@transcript_.Transcript_ID</td>
                        <td>231253</td>
                        <td>Mr Mocker</td>
                        <td>10/05/2019</td>
                        <td>
                            @Html.ActionLink("Edit", "NotImplemented", "Home",
                       new { TranscriptID= @transcript_.Transcript_ID },null)
                        </td>
                    </tr>
                }

            </table>
            <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>
