@model TRS.Web.Models.Module.ListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modules[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules[0].ModuleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules[0].Trimester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modules[0].Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Modules) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trimester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
