@model IEnumerable<Transcript_Repository.Models.ModuleModel>

@{
    ViewBag.Title = "View Modules";
}

<h2>View Modules</h2>

<p>
    @Html.ActionLink("Add Module", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModuleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleTrimester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleTrimester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleComment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModuleId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ModuleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ModuleId })
        </td>
    </tr>
}

</table>
