@model Transcript_Repository.ViewModels.TranscriptViewModel
@{
    ViewBag.Title = "View Transcript";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">My Transcripts</div>
            <div class="panel-body">
                <p>You have <span id="TotalNumberTranscripts"> @(Model.Transcripts.Count + 4) </span> transcripts available</p>
            </div>

            <!-- Table -->
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for student names.." title="Type in a name">
            <table id="myTable" class="table">
                <tr>
                    <th>Transcript ID</th>
                    <th>Transcript Name</th>
                    <th>Student Name</th>
                    <th>Transcript Date</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>Transcript 1</td>
                    <td>Ieaun Roberts</td>
                    <td>10/05/2020</td>
                    <td style="color:green">Access granted</td>
                    <td>@Html.ActionLink("More Details", "Details", "Transcript")</td>
                </tr>

                @foreach (var transcript_ in Model.Transcripts)
                {
                    <tr>
                        <td>@transcript_.Transcript_ID</td>
                        <td>Transcript mock</td>
                        <td>Mr Mocker</td>
                        <td>10/05/2019</td>
                        <td style="color:green">Access granted</td>
                        <td>@Html.ActionLink("More Details", "Details", "Transcript")</td>
                    </tr>
                }


                <tr>
                    <td>2</td>
                    <td>Transcript 2</td>
                    <td>Ieaun Roberts</td>
                    <td>10/05/2019</td>
                    <td style="color:goldenrod">Pending</td>
                    <td>Unavailabe</td>

                <tr>
                    <td>3</td>
                    <td>Transcript 1</td>
                    <td>Vasilica Androsca</td>
                    <td>10/05/2020</td>
                    <td style="color:green">Access granted</td>
                    <td>@Html.ActionLink("More Details", "Details", "Transcript")</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Transcript 1</td>
                    <td>Farah Aly</td>
                    <td>10/05/2020</td>
                    <td style="color:red">Access denied</td>
                    <td>Unavailabe</td>
                </tr>

            </table>
            <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[2];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>
